a.prev:hover,a.next:hover { background-color:#0eab4d;}
.footerstress { border: solid #0eab4d;border-width: 1px 0 0;clear: both;margin: -9px 0px 17px;}
.testimonial-name { color:#0eab4d;}
.vuzz-pricing-table>div { border-top:#0eab4d 3px solid;}
.vuzz-pricing-table .vuzz-pricing-cost {	background:#0eab4d;}
.vuzz-pricing-table .vuzz-pricing-per {	background:#0eab4d;}
.hometitlebg { background:#0eab4d; }
.colortitlebg { background:#0eab4d; }
.neutralbutton {	background:#0eab4d;}
.serviceicon { background-color:#0eab4d;}
.subtitle { border-bottom:#0eab4d 1px solid;}
.wrapaction { border-left: #0E8FAB 3px solid;background:#fff;}
.actionbutton { background-color:#0eab4d;}
.stresstitle { border-bottom:#0eab4d 1px solid;}
.undermenuarea {	background: #0eab4d url(../images/pat.png) repeat;}
.noshadowbox {background:#fff;}
a.expandAll, .progressdefault {background: #0eab4d;}
.simplebox {border-left: 1px solid #0eab4d;}
.simpleboxicon {color: #0eab4d;}
.colorme { color:#0eab4d;}
.buttonprice {background: #0eab4d;color:#fff;border:0px;}
.wrapactiondefault {border-left: #0eab4d 2px solid;}